* {
	margin: 0;
	padding: 0;
}

header {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	top: 0;
	left:0;
	width: 600px;
	font-size: 35px;
}

body {
	background-color: #DDD;
}

.menu {
	float: left;
	text-align: center;
	/*border-bottom: 1px solid #BBBBBB;
	padding: 10px 0px;
	padding-right: 20px;
	margin-right: 20px;*/
}

.menu ul {
	display: inline-flex;
	list-style: none;
	padding: -15px -10px;
	border: 1px solid transparent;

}

.menu ul li {
	width: 140px;
	margin: 15px;
	/*padding: 15px;*/
}

.menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #031D44;
	font-weight: bold;
  	font-size: 14px;
  	opacity: 0.75;	
}

.sub-menu {
	display: none;
}

.sub-menu ul li a {
	width: 200px;
}

/*.menu:hover {
	opacity: 1;
}*/

.menu ul:hover .sub-menu {
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	/*border: 1px solid black;
	background-color: whitesmoke;
	opacity: 0.75;*/
}

.menu:hover .sub-menu ul {
	display: block;
	margin: 10px;
	padding: 10px;
}

.menu::before {
  	transition: 300ms;
  	height: 5px;
  	content: "";
  	position: absolute;
  	background-color: #031D44;
}

.gallery {
	margin: 10px 50px;
}

.gallery img {
	transition: 1s;
	padding: 15px;
	width: 250px;
	height: 250px;
	margin: auto;
}

.gallery img:hover {
	transform: scale(1.1);
}

footer {
	/*padding: 10px;*/
	bottom: 0;
	/*background-color: #B0C0BC;*/
	width: 100%;
	position: relative;
	clear: both;
}

footer img {
	float: right;
	height: 100px;
}